body{
  margin: 0px;
}

.p {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-left: 1%;
  margin-right:  1%;
}

.shelf{
  top: 0%;
  width: 100%;
  left: 0px;
  height: 45px;
  margin-bottom: 20px;
}

h1 {
  color: #111;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 15px;
  margin-top: 0;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
}

.small {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.hidden {
  display: None;
}

.shop {
  float: right;
  margin-right: 10px;
  height: 100%;
  cursor: pointer;
  border-style: none;
}

.dark .shop{
  background-color: #191919;
  color: white;
}

.light .shop{
  background-color: white;
  color: black;
}

.login {
  float: right;
  margin-right: 50px;
  height: 100%;
  cursor: pointer;
  border-style: none;
}

.dark .login{
  background-color: #191919;
  color: white;
}

.light .login{
  background-color: white;
  color: black;
}

button:hover {
  background-color: lightgray;
}

.material-symbols-outlined {
  position: absolute;
  right: 10px;
}

.dark .lightModeButton {
  display: inline;
  border-width: 0;
  background-color: #191919;
  color: #ffffff;
  top: 8px;
  cursor: pointer;
}

.dark .darkModeButton {
  display: none;
}

.dark {
  background-color: #1f1f1f;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.light .lightModeButton {
  display: none;
}

.light .darkModeButton {
  border-width: 0;
  background-color: #ffffff;
  top: 8px;
  cursor: pointer;
}

.dark div span {
  color: white;
}

.dark h1 {
  color: white;
}

footer {
text-align: center;
bottom: 0%;
position: fixed;
width: 100%;
left: 0px;
font-family: Arial, Helvetica, sans-serif;
font-size: smaller;
}

a{
  color: white;
}

.light a{
  color: black;
}

.dark .shelf{
  background-color: #191919;
  box-shadow: 0px 10px 10px #61616112;
}

.light .shelf{
  background-color: #ffffff;
  box-shadow: 0px 10px 10px #0303031f;
}

/* Delete After Release */
#eonsProgress {
  width: 100%;
  background-color: grey;
}

#eonsBar {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  color: white
}

h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 5px;
  }

  h2 .dark {
    color: white;
  }

  h2 .light {
color: black;
  }

/* Delete After Release */