div {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

 .small {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

/* The alert message box */
.alert {
  width: fit-content;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  align-items: center;
  float: none
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.hidden {
  display: None;
}

.button{
  float: right;
  border: 2px solid black;
  border-radius: 6px;
  background-color: white;
  }
  
  button:hover {
    background-color: lightgray;
  }