.dark {
    background-color: #1f1f1f;
}

h1 {
    text-align: center;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.dark h1 {
    color: white
}

img {
    width: 250px;
    height: 250px;
    image-rendering: pixelated;
}

.shopContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.itemContainer {
    display:inline-block;
}

.item {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dark .item {
    color: white;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-family: 'Minecraftia';
    font-size: 14px;
}

.arrow {
    border-width: 0;
    top: 10px;
    cursor: pointer;
    left: 10px;
}

.dark .arrow {
    background-color: #1f1f1f;
    color: #ffffff;
}

.light .arrow {
    background-color: #ffffff;
    color: #000000;
}